.e-avatar {
	padding: 2px;
	display: inline-block;
	text-align: center;
	background: var(--avatar-background,#cccccc);
	color: var(--color-white);
	white-space: nowrap;
	position: relative;
	overflow: hidden;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	line-height: 32px;
	box-sizing: border-box;
}

.e-avatar-image {
	padding: 0px;
}

.e-avatar-image img {
	border-style: none;
	height: 100%;
}

.e-avatar-image-loading img,
.e-avatar-image-loading-error img {
	opacity: 0;
	display: none;
}

.e-avatar-image-loading .loading::after {
	content: "";
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: transparent;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	border: 2px solid var(--color-primary);
	border-color: transparent transparent transparent var(--color-primary);
	animation: iconAvatarLoading 1.5s linear;
	animation-iteration-count: infinite;
}

@keyframes iconAvatarLoading {
	0% {
		transform: translate(-50%, -50%) rotate(0);
	}

	to {
		transform: translate(-50%, -50%) rotate(1turn);
	}
}

.e-avatar-image-loading-error .error {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	background: var(--color-error);
	transform: translate(-50%, -50%);
}

.e-avatar-image-loading-error .error::after {
	content: '';
	background-color: var(--color-white);
	width: 10px;
	height: 2px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.e-avatar-text span {
	position: absolute;
	display: inline-block;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-width: 100%;
	max-height: 100%;
}

.e-avatar .e-icon {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.e-avatar-image .update {
	background: rgba(0, 0, 0, .5);
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	display: inline-block;
	font-size: 14px;
	cursor: pointer;
  min-height: 28px;
  transition: height 0.5s ease-in-out;
  overflow: hidden;
}

.e-avatar-image .update input[type="file"] {
	display: none;
}

.e-avatar-image .update .text {
  margin: 6px;
  overflow: hidden;
  width: calc(100% - 12px);
  white-space: normal;
  line-height: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.e-avatar-circle .update .text{
  margin: 14px;
  width: calc(100% - 28px);
  -webkit-line-clamp: 2;
}