.e-badge {
	position: relative;
	display: inline-block;
}

.e-badge-container {
	position: absolute;
	background-color: #ed4014;
	right: 0px;
	top: 0px;
	border-radius: 10px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	box-shadow: 0 0 0 1px #fff;
	z-index: 10;
	transform: translate(50%, -50%);
	font-size: 10px;
}

.e-badge-ignore .e-badge-container{
	position: relative;
	top: auto;
	transform: translate(0,0);
}

.e-badge .e-badge-custom {
	padding: 2px 6px;
}

.e-badge .e-badge-number,
.e-badge .e-badge-text {
	min-width: 20px;
	height: 20px;
	padding: 0px 6px;
}
.e-badge .e-badge-text{
	letter-spacing: 1px;
}
.e-badge .e-badge-dot {
	width: 8px;
	height: 8px;
}

.e-badge.e-badge-primary .e-badge-container {
	background-color: var(--color-primary);
}

.e-badge.e-badge-success .e-badge-container {
	background-color: var(--color-success);
}

.e-badge.e-badge-error .e-badge-container {
	background-color: var(--color-error);
}

.e-badge.e-badge-warning .e-badge-container {
	background-color: var(--color-warning);
}

.e-badge.e-badge-info .e-badge-container {
	background-color: var(--color-info);
}
