.e-btn-container .e-button {
	margin-right: 5px;
	margin-bottom: 5px;
}

.e-button {
	height: 38px;
	border: var(--border);
	padding: 0 18px;
	white-space: nowrap;
	text-align: center;
	font-size: 14px;
	border-radius: 2px;
	cursor: pointer;
	background: 0 0;
	color: #666;
}

.e-button-type--primary {
	background-color: var(--color-primary);
	color: var(--color-white);
	border: none;
}

.e-button-type--success {
	background-color: var(--color-success);
	border: none;
	color: var(--color-white);
}

.e-button-type--warning {
	background-color: var(--color-warning);
	color: var(--color-white);
	border: none;
}

.e-button-type--error {
	background-color: var(--color-error);
	color: var(--color-white);
	border: none;
}

.e-button-type--info {
	background-color: var(--color-info);
	border: none;
	color: var(--color-white);
}

.e-button-type--primary.e-button-plain {
	background: 0 0;
	border: var(--border-width) var(--border-style) var(--color-primary);
	color: var(--color-primary);
}

.e-button-type--success.e-button-plain {
	background: 0 0;
	border: var(--border-width) var(--border-style) var(--color-success);
	color: var(--color-success);
}

.e-button-type--warning.e-button-plain {
	background: 0 0;
	border: var(--border-width) var(--border-style) var(--color-warning);
	color: var(--color-warning);
}

.e-button-type--error.e-button-plain {
	background: 0 0;
	border: var(--border-width) var(--border-style) var(--color-error);
	color: var(--color-error);
}

.e-button-type--info.e-button-plain {
	background: 0 0;
	border: var(--border-width) var(--border-style) var(--color-info);
	color: var(--color-info);
}

.e-button-disabled,
.e-button-disabled:active,
.e-button-disabled:hover {
	border: var(--border-width) var(--border-style) var(--border-color-disabled) !important;
	background-color: var(--background-color-disabled) !important;
	color: var(--text-color-disabled) !important;
	cursor: not-allowed !important;
	opacity: 1;
}

.e-button-long {
	width: 100%;
}

.e-button-circle {
	border-radius: 50%;
	padding: 12px;
	height: fit-content;
	line-height: unset;
}

.e-button-size--xl {
	height: 44px;
	line-height: 44px;
	padding: 0 24px;
	font-size: 18px;
}

.e-button-size--lg {
	height: 40px;
	line-height: 40px;
	padding: 0 21px;
	font-size: 16px;
}

.e-button-size--md {
	height: 36px;
	line-height: 36px;
	padding: 0 15px;
	font-size: 12px;
}

.e-button-size--sm {
	height: 32px;
	line-height: 32px;
	padding: 0 12px;
	font-size: 10px;
}

.e-button>.e-icon+span,
.e-button>span+.e-icon {
	margin-left: 4px;
}

.e-button>i,
.e-button>span {
	display: inline-block;
}
