.e-btn-container .e-button {
	margin-right: 5px;
	margin-bottom: 5px;
}

.e-button {
	height: 38px;
	border: 1px solid #d2d2d2;
	padding: 0 18px;
	white-space: nowrap;
	text-align: center;
	font-size: 14px;
	border-radius: 2px;
	cursor: pointer;
	background: 0 0;
	color: #666;
}

.e-button-type--primary {
	background-color: #2d8cf0;
	color: #FFFFFF;
	border: none;
}

.e-button-type--success {
	background-color: #19be6b;
	border: none;
	color: #FFFFFF;
}

.e-button-type--warning {
	background-color: #ff9900;
	color: #FFFFFF;
	border: none;
}

.e-button-type--error {
	background-color: #ed4014;
	color: #FFFFFF;
	border: none;
}

.e-button-type--info {
	background-color: #909399;
	border: none;
	color: #FFFFFF;
}

.e-button-type--primary.e-button-plain {
	background: 0 0;
	border: 1px solid #1E9FFF;
	color: #1E9FFF;
}

.e-button-type--success.e-button-plain {
	background: 0 0;
	border: 1px solid #009688;
	color: #009688;
}


.e-button-type--warning.e-button-plain {
	background: 0 0;
	border: 1px solid #FFB800;
	color: #FFB800;
}

.e-button-type--error.e-button-plain {
	background: 0 0;
	border: 1px solid #FF5722;
	color: #FF5722;
}

.e-button-type--info.e-button-plain {
	background: 0 0;
	border: 1px solid #909399;
	color: #909399;
}

.e-button-long {
	width: 100%;
}

.e-button-circle {
	border-radius: 50%;
	padding: 12px;
	height: fit-content;
	line-height: unset;
}

.e-button-disabled,
.e-button-disabled:active,
.e-button-disabled:hover {
	border:1px solid #eee !important;
	background-color: #FBFBFB !important;
	color: #d2d2d2 !important;
	cursor: not-allowed !important;
	opacity: 1;
}

.e-button-size--xl {
	height: 44px;
	line-height: 44px;
	padding: 0 24px;
	font-size: 18px;
}

.e-button-size--lg {
	height: 40px;
	line-height: 40px;
	padding: 0 21px;
	font-size: 16px;
}

.e-button-size--md {
	height: 36px;
	line-height: 36px;
	padding: 0 15px;
	font-size: 12px;
}

.e-button-size--sm {
	height: 32px;
	line-height: 32px;
	padding: 0 12px;
	font-size: 10px;
}

.e-button>.e-icon+span,
.e-button>span+.e-icon {
	margin-left: 4px;
}

.e-button>i,
.e-button>span {
	display: inline-block;
}
