.e-card {
	border: var(--border-width) var(--border-style) var(--card-border-color);
	position: relative;
	transition: all .2s ease-in-out;
}

.e-card+.e-card {
	margin-top: 10px;
}

.e-card:hover {
	box-shadow: var(--box-shadow);
	border-color: transparent;
	position: relative
}

.e-card-header {
	padding: 12px 16px;
	font-size: 14px;
	cursor: pointer;
	border-bottom: var(--border-width) var(--border-style) var(--card-border-color);
}

.e-card-body {
	padding: 16px;
}

.e-card-footer {
	padding: 12px 16px;
	border-top: var(--border-width) var(--border-style) var(--card-border-color);
}
