.e-code {
	display: block;
	position: relative;
	margin: 10px 0;
	padding: 0;
	border: 1px solid #eee;
	border-left-width: 6px;
	background-color: #fafafa;
	color: #333;
	font-family: Courier New;
	font-size: 12px;
	line-height: 20px;
	box-sizing: content-box;
	word-wrap: break-word;
	white-space: pre-wrap;
	white-space: pre;
}
.e-code-h3 {
	position: relative;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #eee;
	font-size: 12px;
	box-sizing: content-box;
	font-weight: 400;
}
.e-code-h3 a {
	position: absolute;
	right: 10px;
	top: 0;
	color: #999;
	text-decoration: none;
}
.e-code-ol {
	position: relative;
	overflow: auto;
}

.e-code-ol li {
	position: relative;
	margin-left: 45px;
	line-height: 20px;
	padding: 0 10px;
	border-left: 1px solid #e2e2e2;
	list-style-type: decimal-leading-zero;
	background-color: #fff;
}

.e-code-ol li:first-child {
	padding-top: 10px;
}

.e-code-ol li:last-child {
	padding-bottom: 10px;
}

.e-code-dark {
	border: 1px solid #0c0c0c;
	border-left-color: #3f3f3f;
	background-color: #0c0c0c;
	color: #c2be9e;
}

.e-code-dark .e-code-h3 {
	border-bottom: none;
}
.e-code-dark .e-code-ol li {
	background-color: #3f3f3f;
	border-left: none;
}