.e-menu {
	height: 100%;
}

.e-menu-item {}

.e-menu-item-box {
	cursor: pointer;
	position: relative;
	padding: 13px 16px;
	box-sizing: border-box;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.e-menu-item-box.e-menu-item-prefix {
	padding-left: 38px;
}

.e-menu-item-box .text {
	font-size: 14px;
}

.e-menu-item-box.e-menu-item-suffix {
	padding-right: 32px;
}

.e-menu-item-prefix .prefix-icon,
.e-menu-item-suffix .suffix-icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.e-menu-item-prefix .prefix-icon {
	left: 13px;
}

.e-menu-item-suffix .suffix-icon {
	right: 13px;
	width: 10px;
	height: 10px;
	border-right: 2px solid #808695;
	border-bottom: 2px solid #808695;
	transition: all .5s;
	transform: translateY(-50%) rotate(-45deg);
}

.e-menu-item-suffix .suffix-icon.open {
	transform: translateY(-50%) rotate(45deg);
}


.e-menu.e-flex-col .e-menu-item-box:hover,
.e-menu.e-flex-col .e-menu-item-box:hover * {
	color: #0f8de9;
}

.e-menu.e-flex-col .e-menu-item-box.e-menu-item-active {
	background: #f0faff;
	color: #0f8de9;
}


.e-menu .e-menu-item-box.e-menu-item-active::after {
	content: '';
	background: #0f8de9;
	position: absolute;
	transition: all 500ms;
	color: #0f8de9;
	width: 0px;
	height: 0px;
	opacity: 0;
}

.e-menu.e-flex-col .e-menu-item-box.e-menu-item-active::after {
	width: 2px;
	height: 100%;
	top: 50%;
	right: 0%;
	transform: translateY(-50%);
	opacity: 1;
}

.e-menu.e-flex .e-menu-item-box.e-menu-item-active::after {
	height: 2px;
	width: 100%;
	left: 50%;
	bottom: 0%;
	transform: translateX(-50%);
	opacity: 1;
}

/**
 * 垂直
 */

.e-menu.e-flex {}


.e-menu.e-flex .e-menu-item {
	display: flex;
}

.e-menu.e-flex .e-menu-item-box::after {
	bottom: 0%;
	left: 50%;
	transform: translateX(-50%);
}

.e-menu.e-flex .e-menu-item-box:hover::after,
.e-menu.e-flex .e-menu-item-box.e-menu-item-active::after {
	width: 100%;
	height: 2px;
}

/**
 * 
 */
.e-menu.e-flex-col .e-menu-children {
	padding-left: 20px;
}

.e-menu.e-flex .e-menu-children {
	display: none;
}

.e-menu-group .text {
	height: 48px;
	line-height: 48px;
	font-size: 14px;
	padding-left: 28px;
	color: #999;
}
