.e-panel {
	border: var(--border-width) var(--border-style) var(--panel-border-color);
	position: relative;
	transition: all .2s ease-in-out;
}

.e-panel+.e-panel {
	margin-top: 10px;
}

.e-panel:hover {
	box-shadow: var(--box-shadow);
	border-color: transparent;
	position: relative
}

.e-panel-header {
	padding: 12px 15px;
	font-size: 16px;
	cursor: pointer;
}

.e-panel-body {
	padding: 10px 15px;
}

.e-panel-footer {
	padding: 10px 15px;
	border-top: var(--border-width) var(--border-style) var(--card-border-color);
}

.e-panel.e-panel-code {
	border-radius: 0px !important;
	border-left: 6px var(--border-style) var(--card-border-color);
}

.e-panel.e-panel-code .e-panel-header {
	background: #fafafa;
}


.e-panel.e-panel-code-dark {
	background-color: #0c0c0c;
	color: #c2be9e;
	border: none;
}

.e-panel.e-panel-code-dark .e-panel-header {
	background-color: #0c0c0c;
	border-bottom: 0px;
}

.e-panel.e-panel-code-dark .e-panel-body {
	background-color: #3f3f3f;
}

.e-panel.e-panel-code-dark .e-panel {
	border-radius: 0px !important;
}
