.e-picker {
	position: relative;
}

.e-picker .e-input {
	height: 38px;
	line-height: 38px;
	border-width: 1px;
	border-style: solid;
	border-color: var(--border-color);
	background-color: var(--color-white);
	color: rgba(0, 0, 0, .85);
	border-radius: 5px;
	display: block;
	padding-left: 10px;
	font-size: 14px;
	width: 100%;
}

.e-picker .e-input:hover {
	border-color: #bec8d2
}

.e-picker .e-input:focus {
	border-color: #b4b4b4;
	box-shadow: 0 0 0 2px rgba(180, 180, 180, 0.2);
	outline: none;
}

.e-picker .e-input.e-theme-primary:focus {
	border-color: #57a3f3 !important;
	box-shadow: 0 0 0 2px rgba(45, 140, 240, .2) !important;
}

.e-picker .e-input.e-input-disabled {
	background-color: var(--background-color-disabled);
	color: #c0c4cc;
	cursor: not-allowed;
}

.e-picker .e-picker-wrapper {
	border: var(--border);
	box-sizing: border-box;
	border-radius: 4px;
	position: absolute;
	z-index: 100;
	background: white;
	box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
	margin-top: 5px;
	display: flex;
}

.e-picker .e-picker-date {
	display: flex;
}

.e-picker .e-picker-date .e-picker-date-aside {
	width: 92px;
	background: #f8f8f9;
	border-right: var(--border);
	border-radius: 4px 0 0 4px;
	overflow: auto;
}

.e-picker .e-picker-date .e-picker-date-aside .e-picker-date-shortcut {
	padding: 6px 16px;
	transition: all .2s ease-in-out;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.e-picker .e-picker-date .e-picker-date-aside .e-picker-date-shortcut:hover {
	background: #e8eaec;
}

.e-picker .e-picker-date .e-picker-date-panel-header {
	display: flex;
	justify-content: space-between;
	padding: 14px 10px;
	border-bottom: var(--border);
}

.e-picker .e-picker-date .e-picker-date-panel-header .e-icon-font {
	font-size: 18px;
	color: #c5c8ce;
	cursor: pointer;
}

.e-picker .e-picker-date .e-picker-date-panel-header .prev .year::after {
	margin-left: -14px;
	content: "\f115";
}

.e-picker .e-picker-date .e-picker-date-panel-header .next .year::after {
	content: "\f11f";
	margin-left: -14px;
}

.e-picker .e-picker-date .e-picker-date-panel-body {
	position: relative;
	display: flex;
	flex-direction: column;
}

.e-picker .e-picker-date .e-picker-date-panel-body .now-month {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 108px;
	z-index: 1;
	color: #f0f0f0;
	left: 0px;
	top: 0px;
}

.e-picker .e-picker-date .e-picker-date-panel-body .e-picker-date-table {
	z-index: 99;
	padding: 10px;
}

.e-picker .e-picker-date .e-picker-date-panel-body .e-picker-date-row {
	position: relative;
}

.e-picker .e-picker-date .e-picker-date-cell {
	transition: all .2s ease-in-out;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	cursor: pointer;
	color: #c5c8ce;
}

.e-picker .e-picker-date .e-picker-date-cell.prev-month .e-picker-date-cell-extra,
.e-picker .e-picker-date .e-picker-date-cell.next-month .e-picker-date-cell-extra {
	font-size: 10px;
}

.e-picker .e-picker-date .e-picker-date-cell.curr-month .e-picker-date-cell-number {
	color: var(--color-black);
}

.e-picker .e-picker-date .e-picker-date-cell.curr-month .e-picker-date-cell-extra {
	font-size: 10px;
	color: rgba(0, 0, 0, .8);
}

.e-picker .e-picker-date .e-picker-date-cell.curr-month .e-picker-date-cell-number:hover,
.e-picker .e-picker-date .e-picker-date-cell.curr-month .e-picker-date-cell-extra:hover {
	color: var(--color-primary);
}

.e-picker .e-picker-date .e-picker-date-cell.curr-month.curr-today {
	position: relative;
	border: var(--border-width) var(--border-style) var(--color-primary);
	border-radius: 4px;
}

.e-picker .e-picker-date .e-picker-date-cell.curr-month.curr-today::after {
	content: "";
	display: block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: var(--color-primary);
	position: absolute;
	top: 1px;
	right: 1px;
}

.e-picker .e-picker-date .e-picker-date-cell.active {
	background: var(--color-primary);
	color: white;
	border-radius: 4px;
}

.e-picker .e-picker-date .e-picker-date-cell.active .e-picker-date-cell-number,
.e-picker .e-picker-date .e-picker-date-cell.active .e-picker-date-cell-extra,
.e-picker .e-picker-date .e-picker-date-cell.active:hover .e-picker-date-cell-number,
.e-picker .e-picker-date .e-picker-date-cell.active:hover .e-picker-date-cell-extra {
	color: white;
}

.e-picker .e-picker-date .e-picker-date-cell.disabled {
	cursor: not-allowed;
}

.e-picker .e-picker-date .e-picker-date-cell.disabled .e-picker-date-cell-number,
.e-picker .e-picker-date .e-picker-date-cell.disabled .e-picker-date-cell-extra,
.e-picker .e-picker-date .e-picker-date-cell.disabled:hover .e-picker-date-cell-number,
.e-picker .e-picker-date .e-picker-date-cell.disabled:hover .e-picker-date-cell-extra {
	color: var(--text-disabled);
}


.e-picker .e-picker-time .e-picker-time-panel-header {
	display: flex;
	padding: 8px 10px;
	border-bottom: var(--border);
	justify-content: center;
}

.e-picker .e-picker-time-panel-body {
	display: flex;
}

.e-picker .e-picker-time-panel-body .e-picker-time-list {
	height: 216px;
	width: 68px;
	overflow: hidden;
	border-right: var(--border);
}

.e-picker .e-picker-time-panel-body .e-picker-time-list:last-child {
	border: none;
}


.e-picker .e-picker-time-panel-body ul {
	width: calc(100% + 17px);
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.e-picker .e-picker-time-panel-body ul li {
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin: 0;
	box-sizing: content-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	list-style: none;
	transition: background .2s ease-in-out;
	text-align: center;
	padding-right: 17px;
}

.e-picker .e-picker-time-panel-body ul li:hover {
	background-color: #F3F3F3;
}

.e-picker .e-picker-time-panel-body ul li.e-picker-time-hours-active,
.e-picker .e-picker-time-panel-body ul li.e-picker-time-minutes-active,
.e-picker .e-picker-time-panel-body ul li.e-picker-time-seconds-active {
	color: var(--color-white);
	background-color: var(--color-primary);
}

.e-picker .e-picker-time-panel-body ul li.e-picker-time-hours-disabled {
	cursor: not-allowed;
	color: var(--text-color-disabled);
}

.e-picker-time-panel-foot {
	border-top: var(--border);
	text-align: right;
	padding: 8px;
	clear: both;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}


.e-picker-date-time .e-picker-time {
	border-left: var(--border);
}

.e-picker-date-time .e-picker-time .e-picker-time-panel-header {
	padding: 14px 10px;
}


.e-picker-date-time .e-picker-date-time-foot {
	border-top: var(--border);
	text-align: right;
	padding: 8px;
	clear: both;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}



.e-picker .e-picker-year .e-picker-year-panel-header {
	display: flex;
	justify-content: space-between;
	padding: 14px 10px;
	border-bottom: var(--border);
}

.e-picker .e-picker-year .e-picker-year-panel-header .e-icon-font {
	font-size: 18px;
	color: #c5c8ce;
	cursor: pointer;
}

.e-picker .e-picker-year .e-picker-year-panel-header .prev .year::after {
	margin-left: -14px;
	content: "\f115";
}

.e-picker .e-picker-year .e-picker-year-panel-header .next .year::after {
	content: "\f11f";
	margin-left: -14px;
}

.e-picker .e-picker-year .e-picker-year-panel-body {
	position: relative;
	display: flex;
	flex-direction: row;
	padding: 5px 0px;
	width: 216px;
	flex-wrap: wrap;
}

.e-picker .e-picker-year .e-picker-year-panel-body .e-picker-year-cell{
	padding: 10px 12px;
	border-radius: 3px;
	display: inline-block;
	width: calc(100% / 3 - 20px);
	text-align: center;
	cursor: pointer;
	margin: 5px 10px;
}

.e-picker .e-picker-year .e-picker-year-panel-body .e-picker-year-cell.active{
	background-color: var(--color-primary);
	color: var(--color-white);
}

.e-picker .e-picker-year .e-picker-year-panel-body .e-picker-year-cell.disabled{
	cursor: not-allowed;
	color: var(--text-color-disabled);
	background-color: var(--background-color-disabled);
}

.e-picker .e-picker-month .e-picker-month-panel-header {
	display: flex;
	justify-content: space-between;
	padding: 14px 10px;
	border-bottom: var(--border);
}

.e-picker .e-picker-month .e-picker-month-panel-header .e-icon-font {
	font-size: 18px;
	color: #c5c8ce;
	cursor: pointer;
}

.e-picker .e-picker-month .e-picker-month-panel-header .prev .month::after {
	margin-left: -14px;
	content: "\f115";
}

.e-picker .e-picker-month .e-picker-month-panel-header .next .month::after {
	content: "\f11f";
	margin-left: -14px;
}

.e-picker .e-picker-month .e-picker-month-panel-body {
	position: relative;
	display: flex;
	flex-direction: row;
	padding: 5px 0px;
	width: 228px;
	flex-wrap: wrap;
}

.e-picker .e-picker-month .e-picker-month-panel-body .e-picker-month-cell{
	padding: 10px 12px;
	border-radius: 3px;
	display: inline-block;
	width: calc(100% / 3 - 20px);
	text-align: center;
	cursor: pointer;
	margin: 5px 10px;
}

.e-picker .e-picker-month .e-picker-month-panel-body .e-picker-month-cell.active{
	background-color: var(--color-primary);
	color: var(--color-white);
}

.e-picker .e-picker-month .e-picker-month-panel-body .e-picker-month-cell.disabled{
	cursor: not-allowed;
	color: var(--text-color-disabled);
	background-color: var(--background-color-disabled);
}