.e-slider {
	position: relative;
	line-height: normal;
}

.e-slider-warp {
	width: 100%;
	height: 4px;
	margin: 16px 0;
	background-color: #e8eaec;
	border-radius: 3px;
	vertical-align: middle;
	position: relative;
	cursor: pointer;
}

.e-slider-bar {
	height: 4px;
	background: var(--color-primary);
	border-radius: 3px;
	position: absolute;
	max-width: 100%;
}

.e-slider-bar-btn {
	position: absolute;
	width: 16px;
	height: 16px;
	border: 2px solid var(--color-primary);
	border-radius: 50%;
	background-color: var(--color-white);
	outline: 0;
	top: 50%;
	left: 0px;
	transform: translateY(-50%);
}

.e-slider-disabled .e-slider-bar{
	background-color: var(--background-color-disabled);
}

.e-slider-disabled .e-slider-bar-btn{
	border-color: var(--border-color-disabled);
	cursor: no-drop;
}