.e-tags{
	display: flex;
}
.e-tag{
	display: inline-block;
	height: 22px;
	line-height: 22px;
	margin: 2px 4px 2px 0;
	padding: 0 8px;
	border-radius: 3px;
	font-size: 12px;
	vertical-align: middle;
	opacity: 1;
	overflow: hidden;
	background-color: var(--main-bg-color);
}