.fade-appear,
.fade-enter-active {
	opacity: 0;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-duration: .15s;
	animation-duration: .15s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: FadeIn;
	animation-name: FadeIn;
	-webkit-animation-play-state: running;
	animation-play-state: running
}

.fade-leave-active {
	-webkit-animation-duration: .15s;
	animation-duration: .15s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: FadeOut;
	animation-name: FadeOut;
	-webkit-animation-play-state: running;
	animation-play-state: running;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear
}


.move-up-appear,
.move-up-enter-active {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: MoveUpIn;
	animation-name: MoveUpIn;
	-webkit-animation-play-state: running;
	animation-play-state: running;
	opacity: 0;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}

.move-up-leave-active {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: MoveUpOut;
	animation-name: MoveUpOut;
	-webkit-animation-play-state: running;
	animation-play-state: running;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out
}

.move-down-appear,
.move-down-enter-active {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: MoveDownIn;
	animation-name: MoveDownIn;
	-webkit-animation-play-state: running;
	animation-play-state: running;
	opacity: 0;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}

.move-down-leave-active {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: MoveDownOut;
	animation-name: MoveDownOut;
	-webkit-animation-play-state: running;
	animation-play-state: running;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out
}

.move-left-appear,
.move-left-enter-active {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: MoveLeftIn;
	animation-name: MoveLeftIn;
	-webkit-animation-play-state: running;
	animation-play-state: running;
	opacity: 0;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}

.move-left-leave-active {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: MoveLeftOut;
	animation-name: MoveLeftOut;
	-webkit-animation-play-state: running;
	animation-play-state: running;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out
}

.move-right-appear,
.move-right-enter-active {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: MoveRightIn;
	animation-name: MoveRightIn;
	-webkit-animation-play-state: running;
	animation-play-state: running;
	opacity: 0;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}

.move-right-leave-active {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: MoveRightOut;
	animation-name: MoveRightOut;
	-webkit-animation-play-state: running;
	animation-play-state: running;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out
}


@-webkit-keyframes FadeIn {
	0% {
		opacity: 0
	}

	100% {
		opacity: 1
	}
}


@-webkit-keyframes FadeOut {
	0% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}

@-webkit-keyframes MoveDownIn {
	0% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
		opacity: 0;
	}

	100% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes MoveDownIn {
	0% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
		opacity: 0;
	}

	100% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@-webkit-keyframes MoveDownOut {
	0% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}

	100% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
		opacity: 0;
	}
}

@keyframes MoveDownOut {
	0% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}

	100% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
		opacity: 0;
	}
}

@-webkit-keyframes MoveLeftIn {
	0% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		opacity: 0;
	}

	100% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes MoveLeftIn {
	0% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		opacity: 0;
	}

	100% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@-webkit-keyframes MoveLeftOut {
	0% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}

	100% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		opacity: 0;
	}
}

@keyframes MoveLeftOut {
	0% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}

	100% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		opacity: 0;
	}
}

@-webkit-keyframes MoveRightIn {
	0% {
		opacity: 0;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateX(100%);
		transform: translateX(100%)
	}

	100% {
		opacity: 1;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
}

@keyframes MoveRightIn {
	0% {
		opacity: 0;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateX(100%);
		transform: translateX(100%)
	}

	100% {
		opacity: 1;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@-webkit-keyframes MoveRightOut {
	0% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}

	100% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		opacity: 0;
	}
}

@keyframes MoveRightOut {
	0% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}

	100% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		opacity: 0;
	}
}

@-webkit-keyframes MoveUpIn {
	0% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		opacity: 0;
	}

	100% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes MoveUpIn {
	0% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		opacity: 0;
	}

	100% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@-webkit-keyframes MoveUpOut {
	0% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}

	100% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		opacity: 0;
	}
}

@keyframes MoveUpOut {
	0% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}

	100% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		opacity: 0;
	}
}

.move-notice-appear,
.move-notice-enter-active {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: MoveNoticeIn;
	animation-name: MoveNoticeIn;
	-webkit-animation-play-state: running;
	animation-play-state: running;
	opacity: 0;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}

.move-notice-leave-active {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: MoveNoticeOut;
	animation-name: MoveNoticeOut;
	-webkit-animation-play-state: running;
	animation-play-state: running;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out
}

@-webkit-keyframes MoveNoticeIn {
	0% {
		opacity: 0;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}

	100% {
		opacity: 1;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes MoveNoticeIn {
	0% {
		opacity: 0;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}

	100% {
		opacity: 1;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@-webkit-keyframes MoveNoticeOut {
	0% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}

	70% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		height: auto;
		padding: 16px;
		margin-bottom: 10px;
		opacity: 0;
	}

	100% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		height: 0;
		padding: 0;
		margin-bottom: 0;
		opacity: 0;
	}
}

@keyframes MoveNoticeOut {
	0% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}

	70% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		height: auto;
		padding: 16px;
		margin-bottom: 10px;
		opacity: 0;
	}

	100% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		height: 0;
		padding: 0;
		margin-bottom: 0;
		opacity: 0;
	}
}

.ease-appear,
.ease-enter-active {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: EaseIn;
	animation-name: EaseIn;
	-webkit-animation-play-state: running;
	animation-play-state: running;
	opacity: 0;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

.ease-leave-active {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: EaseOut;
	animation-name: EaseOut;
	-webkit-animation-play-state: running;
	animation-play-state: running;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

@-webkit-keyframes EaseIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.9);
		transform: scale(.9)
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

@keyframes EaseIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.9);
		transform: scale(.9)
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

@-webkit-keyframes EaseOut {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}

	100% {
		opacity: 0;
		-webkit-transform: scale(.9);
		transform: scale(.9)
	}
}

@keyframes EaseOut {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}

	100% {
		opacity: 0;
		-webkit-transform: scale(.9);
		transform: scale(.9)
	}
}

.transition-drop-appear,
.transition-drop-enter-active {
	opacity: 0;
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: TransitionDropIn;
	animation-name: TransitionDropIn;
	-webkit-animation-play-state: running;
	animation-play-state: running;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}

.transition-drop-leave-active {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: TransitionDropOut;
	animation-name: TransitionDropOut;
	-webkit-animation-play-state: running;
	animation-play-state: running;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out
}

.slide-up-appear,
.slide-up-enter-active {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: SlideUpIn;
	animation-name: SlideUpIn;
	-webkit-animation-play-state: running;
	animation-play-state: running;
	opacity: 0;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}

.slide-up-leave-active {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: SlideUpOut;
	animation-name: SlideUpOut;
	-webkit-animation-play-state: running;
	animation-play-state: running;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out
}

.slide-down-appear,
.slide-down-enter-active {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: SlideDownIn;
	animation-name: SlideDownIn;
	-webkit-animation-play-state: running;
	animation-play-state: running;
	opacity: 0;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}

.slide-down-leave-active {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: SlideDownOut;
	animation-name: SlideDownOut;
	-webkit-animation-play-state: running;
	animation-play-state: running;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out
}

.slide-left-appear,
.slide-left-enter-active {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: SlideLeftIn;
	animation-name: SlideLeftIn;
	-webkit-animation-play-state: running;
	animation-play-state: running;
	opacity: 0;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}

.slide-left-leave-active {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: SlideLeftOut;
	animation-name: SlideLeftOut;
	-webkit-animation-play-state: running;
	animation-play-state: running;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out
}

.slide-right-appear,
.slide-right-enter-active {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: SlideRightIn;
	animation-name: SlideRightIn;
	-webkit-animation-play-state: running;
	animation-play-state: running;
	opacity: 0;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}

.slide-right-leave-active {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: SlideRightOut;
	animation-name: SlideRightOut;
	-webkit-animation-play-state: running;
	animation-play-state: running;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out
}

@-webkit-keyframes TransitionDropIn {
	0% {
		opacity: 0;
		-webkit-transform: scaleY(.8);
		transform: scaleY(.8)
	}

	100% {
		opacity: 1;
		-webkit-transform: scaleY(1);
		transform: scaleY(1)
	}
}

@-webkit-keyframes TransitionDropOut {
	0% {
		opacity: 1;
		-webkit-transform: scaleY(1);
		transform: scaleY(1)
	}

	100% {
		opacity: 0;
		-webkit-transform: scaleY(.8);
		transform: scaleY(.8)
	}
}

@-webkit-keyframes SlideUpIn {
	0% {
		opacity: 0;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: scaleY(.8);
		transform: scaleY(.8)
	}

	100% {
		opacity: 1;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: scaleY(1);
		transform: scaleY(1)
	}
}


@-webkit-keyframes SlideUpOut {
	0% {
		opacity: 1;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: scaleY(1);
		transform: scaleY(1)
	}

	100% {
		opacity: 0;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: scaleY(.8);
		transform: scaleY(.8)
	}
}


@-webkit-keyframes SlideDownIn {
	0% {
		opacity: 0;
		-webkit-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
		-webkit-transform: scaleY(.8);
		transform: scaleY(.8)
	}

	100% {
		opacity: 1;
		-webkit-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
		-webkit-transform: scaleY(1);
		transform: scaleY(1)
	}
}


@-webkit-keyframes SlideDownOut {
	0% {
		opacity: 1;
		-webkit-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
		-webkit-transform: scaleY(1);
		transform: scaleY(1)
	}

	100% {
		opacity: 0;
		-webkit-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
		-webkit-transform: scaleY(.8);
		transform: scaleY(.8)
	}
}


@-webkit-keyframes SlideLeftIn {
	0% {
		opacity: 0;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: scaleX(.8);
		transform: scaleX(.8)
	}

	100% {
		opacity: 1;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}
}

@-webkit-keyframes SlideLeftOut {
	0% {
		opacity: 1;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}

	100% {
		opacity: 0;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: scaleX(.8);
		transform: scaleX(.8)
	}
}


@-webkit-keyframes SlideRightIn {
	0% {
		opacity: 0;
		-webkit-transform-origin: 100% 0;
		transform-origin: 100% 0;
		-webkit-transform: scaleX(.8);
		transform: scaleX(.8)
	}

	100% {
		opacity: 1;
		-webkit-transform-origin: 100% 0;
		transform-origin: 100% 0;
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}
}

@-webkit-keyframes SlideRightOut {
	0% {
		opacity: 1;
		-webkit-transform-origin: 100% 0;
		transform-origin: 100% 0;
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}

	100% {
		opacity: 0;
		-webkit-transform-origin: 100% 0;
		transform-origin: 100% 0;
		-webkit-transform: scaleX(.8);
		transform: scaleX(.8)
	}
}
