@import url("iconfont/ionicons.css");

html,
body {
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
	font-size: 14px;
	-moz-user-select: none;
	/*火狐*/
	-webkit-user-select: none;
	/*webkit浏览器*/
	-ms-user-select: none;
	/*IE10*/
	-khtml-user-select: none;
	/*早期浏览器*/
	user-select: none;
}

*{
	box-sizing: border-box;
}


body,
button,
dd,
div,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
ul,
li,
ol,
p,
pre,
td,
textarea,
th,
blockquote {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	margin-block-start: 0em;
	margin-block-end: 0em;
}

button,
input,
optgroup,
option,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	outline: 0;
}

code {
	padding: .2em .4em;
	margin: 2px;
	font-size: 85%;
	background-color: #fff5f5;
	border-radius: 3px;
	font-family: Consolas, Menlo, Courier, monospace;
	color: #ed4014;
	display: inline-block;
}


.e-button,
.e-input,
.e-select,
.e-textarea,
.e-upload-button {
	outline: 0;
	-webkit-appearance: none;
	transition: all .3s;
	-webkit-transition: all .3s;
	box-sizing: border-box;
}

.e-badge-rim,
.e-border,
.e-colla-content,
.e-colla-item,
.e-collapse,
.e-elem-field,
.e-form-pane .e-form-item[pane],
.e-form-pane .e-form-label,
.e-input,
.e-layedit,
.e-layedit-tool,
.e-panel,
.e-quote-nm,
.e-select,
.e-tab-bar,
.e-tab-card,
.e-tab-title,
.e-tab-title .e-this:after,
.e-textarea {
	border-color: #eee;
}

.e-relative,
.e-rela {
	position: relative;
}

.e-absolute,
.e-abso {
	position: absolute;
}

.e-font-xs {
	font-size: 22px;
}

.e-font-sm {
	font-size: 26px;
}

.e-font-md {
	font-size: 28px;
}

.e-font-lg {
	font-size: 30px;
}

.e-font-xl {
	font-size: 34px;
}

.e-flex {
	display: flex;
	flex-direction: row;
}

.e-flex-col {
	display: flex;
	flex-direction: column;
}

.e-flex-wrap {
	flex-wrap: wrap;
}

.e-flex-nowrap {
	flex-wrap: nowrap;
}

.e-col-center {
	align-items: center;
}

.e-col-top {
	align-items: flex-start;
}

.e-col-bottom {
	align-items: flex-end;
}

.e-row-center {
	justify-content: center;
}

.e-row-left {
	justify-content: flex-start;
}

.e-row-right {
	justify-content: flex-end;
}

.e-row-between {
	justify-content: space-between;
}

.e-row-around {
	justify-content: space-around;
}

.e-text-left {
	text-align: left;
}

.e-text-center {
	text-align: center;
}

.e-text-right {
	text-align: right;
}

/* 
// 定义flex等分
.flex(@index) when(@index<=12){
  .u-flex-@{index} {
    flex: @index;
  }
  .flex(@index+1);
}
.flex(0);

// 定义字体(px)单位，小于20都为px单位字体
.fontSize(@index) when(@index<=100){
  .u-font-@{index} {
    font-size: @index + 0px;
  }
  .fontSize(@index+1);
}
.fontSize(9);

.margin(@index) when(@index<=40){
    .u-margin-@{index}, .u-m-@{index} {
      margin: @index + 0px!important;
    }

    .u-margin-top-@{index}, .u-m-t-@{index} {
      margin-top: @index + 0px!important;
    }

    .u-margin-right-@{index}, .u-m-r-@{index} {
      margin-right: @index + 0px!important;
    }

    .u-margin-bottom-@{index}, .u-m-b-@{index} {
      margin-bottom: @index + 0px!important;
    }

    .u-margin-left-@{index}, .u-m-l-@{index} {
      margin-left: @index + 0px!important;
    }

    .margin(@index+1);
}

.margin(5);

.padding(@index) when(@index<=40){
    .u-padding-@{index}, .u-p-@{index} {
      padding: @index + 0px!important;
    }

    .u-padding-top-@{index}, .u-p-t-@{index} {
      padding-top: @index + 0px!important;
    }

    .u-padding-right-@{index}, .u-p-r-@{index} {
      padding-right: @index + 0px!important;
    }

    .u-padding-bottom-@{index}, .u-p-b-@{index} {
      padding-bottom: @index + 0px!important;
    }

    .u-padding-left-@{index}, .u-p-l-@{index} {
      padding-left: @index + 0px!important;
    }

    .padding(@index+1);
}

.padding(5);
 */